@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
@import "login.css";
@import "walletsRoom.css";
@import "dashboard.css";

:root {
  --main-bg-color: #2a5557;
  --dark-tourquese: #003335;
  --tourquese: #009ea3;
  --normal-tourquese: #00cfd6;
  --light-tourquese: #40eaf0;
  --white: #fff;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--dark-tourquese);
  color: var(--white);
}

label,
p {
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
  margin: 0;
}

.no-style,
.no-style:active,
.no-style:hover {
  text-decoration: none;
  color: white;
}

::placeholder {
  color: #00cfd6;
  opacity: 1;
}

/* -----------------------
/* --- Navbar --- 
/* -------------------- */
nav {
  background-color: var(--dark-tourquese);
  padding: 15px 0 10px;
}

nav .logo {
  width: 40px;
}

.reload {
  width: 30px;
}